
@font-face {
	font-family: 'AVMMetaOT-Book';
	src: url('fonts/avmmetaot-book-webfont.eot');
	src: url('fonts/avmmetaot-book-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/avmmetaot-book-webfont.woff') format('woff'),
	     url('fonts/avmmetaot-book-webfont.ttf') format('truetype'),
	     url('fonts/avmmetaot-book-webfont.svg#avm_meta_otbook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AVMMetaOT-Bold';
	src: url('fonts/avmmetaot-bold-webfont.eot');
	src: url('fonts/avmmetaot-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/avmmetaot-bold-webfont.woff') format('woff'),
	     url('fonts/avmmetaot-bold-webfont.ttf') format('truetype'),
	     url('fonts/avmmetaot-bold-webfont.svg#avm_meta_otbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVMMetaOT-CondBlack';
	src: url('fonts/avmmetaotcond-black-webfont.eot');
	src: url('fonts/avmmetaotcond-black-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/avmmetaotcond-black-webfont.woff') format('woff'),
	     url('fonts/avmmetaotcond-black-webfont.ttf') format('truetype'),
	     url('fonts/avmmetaotcond-black-webfont.svg#avm_meta_ot_condblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVMMetaOT-CondBold';
	src: url('fonts/avmmetaotcond-bold-webfont.eot');
	src: url('fonts/avmmetaotcond-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/avmmetaotcond-bold-webfont.woff') format('woff'),
	     url('fonts/avmmetaotcond-bold-webfont.ttf') format('truetype'),
	     url('fonts/avmmetaotcond-bold-webfont.svg#avm_meta_ot_condbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVMMetaOT-CondBook';
    src: url('fonts/avmmetaotcond-book-webfont.eot');
    src: url('fonts/avmmetaotcond-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avmmetaotcond-book-webfont.woff') format('woff'),
         url('fonts/avmmetaotcond-book-webfont.ttf') format('truetype'),
         url('fonts/avmmetaotcond-book-webfont.svg#avm_meta_ot_condbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'AVMMetaOT-Cond';
	src: url('fonts/avmmetaotcond-normal-webfont.eot');
	src: url('fonts/avmmetaotcond-normal-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/avmmetaotcond-normal-webfont.woff') format('woff'),
	     url('fonts/avmmetaotcond-normal-webfont.ttf') format('truetype'),
	     url('fonts/avmmetaotcond-normal-webfont.svg#avm_meta_ot_condnormal') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'AVMMetaOT';
    src: url('fonts/avmmetaot-normal-webfont.eot');
    src: url('fonts/avmmetaot-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avmmetaot-normal-webfont.woff') format('woff'),
         url('fonts/avmmetaot-normal-webfont.ttf') format('truetype'),
         url('fonts/avmmetaot-normal-webfont.svg#avm_meta_otnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}