
@font-face {
	font-family: 'AVMMetaOT-Book';
	src: url('fonts/AVMMetaBook.eot');
	src: url('fonts/AVMMetaBook.eot?#iefix') format('embedded-opentype'),
	     url('fonts/AVMMetaBook.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AVMMetaOT-Bold';
	src: url('fonts/AVMMetaNormal-Bold.eot');
	src: url('fonts/AVMMetaNormal-Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/AVMMetaNormal-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVMMetaOT-CondBlack';
	src: url('fonts/AVMMetaCond-Black.eot');
	src: url('fonts/AVMMetaCond-Black.eot?#iefix') format('embedded-opentype'),
	     url('fonts/AVMMetaCond-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVMMetaOT-CondBold';
	src: url('fonts/AVMMetaCondBook-Bold.eot');
	src: url('fonts/AVMMetaCondBook-Bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/AVMMetaCondBook-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AVMMetaOT-CondBook';
    src: url('fonts/AVMMetaCondBook.eot');
    src: url('fonts/AVMMetaCondBook.eot?#iefix') format('embedded-opentype'),
         url('fonts/AVMMetaCondBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'AVMMetaOT-Cond';
	src: url('fonts/AVMMetaCondNormal.eot');
	src: url('fonts/AVMMetaCondNormal.eot?#iefix') format('embedded-opentype'),
	     url('fonts/AVMMetaCondNormal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'AVMMetaOT';
    src: url('fonts/AVMMetaNormal.eot');
    src: url('fonts/AVMMetaNormal.eot?#iefix') format('embedded-opentype'),
         url('fonts/AVMMetaNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

